footer {
    width: 100%;
    padding: 10px 50px;
    background-color: #50b484;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links div {
    width: 50%;

    display: flex;
    justify-content: flex-end;
}

li {
    margin: 0px 20px;
}

a {
    color: #000000;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}